<h1>Lista de Cuentas</h1>
<table>
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Descripción</th>
            <th>Monto Pagado</th>
            <th>Saldo Pendiente</th>
            <th>Última Actualización</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cuenta_list %}
            <tr>
                <td>
                    {% if item.estudiante %}
                        {{ item.estudiante.nombre }} {{ item.estudiante.apellido }}
                    {% else %}
                        Estudiante no encontrado
                    {% endif %}
                </td>
                <td>{{ item.cuenta.descripcion }}</td>
                <td>{{ item.cuenta.monto_pagado }}</td>
                <td>{{ item.cuenta.saldo_pendiente }}</td>
                <td>{{ item.cuenta.fecha_actualizacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

