<h1>Lista de Pagos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha de Pago</th>
            <th>Estudiante</th>
            <th>Código</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
            <tr>
                <td>{{ pago.id }}</td>
                <td>{{ pago.fecha_pago }}</td>
                <td>{{ pago.estudiante.nombre }} {{ pago.estudiante.apellido }}</td>
                <td>{{ pago.estudiante.codigo }}</td>
                <td>{{ pago.monto }}</td>
                <td>{{ pago.descripcion }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No se encontraron pagos.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>




