<h1>Lista de Pagos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha de Pago</th>
            <th>Estudiante</th>
            <th>Código</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pagos %}
            <tr>
                <td>{{ item.estudiante.nombre }} {{ item.estudiante.apellido }}</td>
                <td>{{ item.pago.fecha_pago }}</td>
                <td>{{ item.estudiante.codigo }}</td>
                <td>{{ item.pago.monto }}</td>
                <td>{{ item.pago.descripcion }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No se encontraron pagos.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'reportes' %}" class="btn btn-primary">
    Generar Reporte Pagos
</a>

<a href="{% url 'reportes' %}" class="btn btn-primary">
    Generar Reporte Pagos Con Datos Locales
</a>






