<h1>Lista de Pagos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha de Pago</th>
            <th>Estudiante</th>
            <th>Código</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
            <tr>                
                <td>{{ pago.estudiante.nombre }} {{ pago.estudiante.apellido }}</td>
                <td>{{ pago.estudiante.codigo }}</td>
                <tr>
                    <td colspan="6">
                        <strong>Cuentas del Estudiante:</strong>
                        <ul>
                            {% for cuenta in pago.estudiante.cuentas %}
                                <li>{{ cuenta.numero }} - {{ cuenta.tipo }} - {{ cuenta.descuento }} - {{ cuenta.fecha_pago }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tr>
        
        <button type="button" class="btn btn-primary" href="/reporte/">
            Generar Reporte Pagos </button> 
        
        {% empty %}
            <tr>
                <td colspan="5">No se encontraron pagos.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>




